@use "./variables.scss";

#calculator {
  border: 1px solid variables.$secondary-color;
}

#display-container {
  border-bottom: 1px solid variables.$secondary-color;
  padding: 1rem;

  text-align: end;
  font-size: 5rem;
  background-color: variables.$darker-color;
  color: variables.$text-color;
}

#button-container {
  padding: 1rem;
  background-color: variables.$darker-color;
}

button {
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 3rem;

  border-radius: 0.3rem;
  color: variables.$text-color;
}
